@model IEnumerable<WebApplication2.Models.Blog>

@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-success btn-sm font-weight-bold" role="button" asp-action="Create">Create New</a>
    <a class="btn btn-danger btn-sm font-weight-bold" role="button" id="delete_all">Delete All Selection</a>
</p>

<div class="table-responsive-sm">
    <table class="table table-sm table-hover table-borderless" id="BlogsGrid">
        <thead class="thead-dark">
            <tr>
                <th><input type="checkbox" id="checkAll" /></th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="5%">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="@item.BlogId" value="@item.BlogId">
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td width="15%">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm font-weight-light" role="button" asp-action="Edit" asp-route-id="@item.BlogId">Edit</a>
                            <a class="btn btn-primary btn-sm font-weight-light" role="button" asp-action="Details" asp-route-id="@item.BlogId">Details</a>
                            <a class="btn btn-primary btn-sm font-weight-light" role="button" asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script src="~/js/blogScripts.js"></script>
}

